<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alireza Farokhi's Personal Website">
    <meta name="keywords" content="Alireza Farokhi, Software Engineer, Web Developer, Portfolio">
    <meta name="author" content="Alireza Farokhi">
    <meta name="robots" content="index, follow">
    
    <!-- Advanced SEO Tags -->
    <meta name="canonical" href="https://alireza-farokhi.github.io">
    <meta name="og:title" content="Alireza Farokhi - Software Engineer">
    <meta name="og:description" content="Explore Alireza Farokhi's portfolio and learn about his expertise in software engineering.">
    <meta name="og:image" content="https://yourwebsite.com/images/your-image.jpg">
    <meta name="og:url" content="https://alireza-farokhi.github.io">
    <meta name="og:site_name" content="Alireza Farokhi's Personal Website">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

  <title>Alireza Farokhi - Software Engineer</title>

  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/open-color.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.min.css' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">

  {% seo title=false %}
</head>
